/* -----------------------------------GLOBALI----------------------------------- */

:root {
  --primary-color: #141922;
  --secondary-color: #282828;
  --tertiary-color: #000;
  --background-body: #f6f5f3;
  --font-primary: "Inter", sans-serif;
  --height-player: 90px;
  --width-sidebar: 50px;
  --font-size: 13px;
}

.btn-style {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.7rem;
}

/* ----------------------------------- DEBUG -----------------------------------*/

.db-color1 {
  background-color: green;
}

.db-color2 {
  background-color: yellow;
}

.db-color3 {
  background-color: blue;
}

/* ----------------------------------- RESET VARIABILI GLOBALI -----------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: #f5f8fa;
  font-family: "Arial", sans-serif;
  color: white;
  font-family: var(--font-primary);
}

header {
  z-index: 100;
}

img {
  width: 100%;
  display: block;
}

main {
  flex-grow: 1;
}

ul {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* LAYOUT */

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary-color);
}

.flex-element {
  display: flex;
  gap: 5px;
}

.element-row-wrap {
  flex-flow: row wrap;
  gap: 5px;
}

.column-element-wrap {
  flex-flow: column wrap;
}

/* ----------------------------------- TIPOGRAFIA ----------------------------------- */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

/* ----------------------------------- UTILITY ----------------------------------- */

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

.h-50 {
  height: 50vh;
}

.h-100 {
  height: 100vh;
}

.font-weight {
  font-weight: 900;
}

.shadow {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.font-upper {
  text-transform: uppercase;
}

.mobile-view {
  display: block;
}

.tablet-view {
  display: none;
}

/* ----------------------------------- LAYOUT FINO A 576px -----------------------------------*/

#top-container {
  flex: 1 1 auto;
  display: flex;
}

#player {
  height: var(--height-player);
  background-color: var(--secondary-color);
}

#sidebar {
  width: var(--width-sidebar);
  background-color: var(--tertiary-color);
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#main-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#main-content-header {
  background-color: rgba(0, 0, 0, 0.498);
  height: var(--height-player);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
}

#content {
  flex: 1 1 auto;
  overflow: auto;
  padding: 1rem;
}

/* ------- LAYOUT MOBILE DA 639px A 878px ------- */
@media screen and (min-width: 639px) {
  :root {
    --width-sidebar: 200px;
  }

  .mobile-view {
    display: none;
  }

  .tablet-view {
    display: block;
  }
}

/* -------  LAYOUT TABLET DA 878px A 1440px ------- */
@media screen and (min-width: 878px) {
  :root {
    --width-sidebar: 200px;
    --font-size: 14px;
  }
}
/* ------- LAYOUT DESKTOP DA 1440px A INFINITO ------- */
@media screen and (min-width: 1440px) {
}

/* ----------------------------------- SIDEBAR FINO A 576px -----------------------------------*/

.logo {
  padding-bottom: 20px;
}

.list-icon {
}

.list-icon li {
  padding-bottom: 10px;
}

/* ------- SIDEBAR MOBILE DA 639px A 878px ------- */
@media screen and (min-width: 639px) {
  #sidebar img {
    display: inline;
    width: 10%;
  }

  #sidebar span {
    display: inline;
    padding-left: 10px;
  }
}
